@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat|Pacifico|Shadows+Into+Light&display=swap');
.centralizar {
    text-align: center;
}

#titulo-principal {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Shadows Into Light', cursive; */
    color: #f28181;
}

#titulo-principal a {
    color: inherit;
}

#titulo-principal a:hover {
    text-decoration: none;
}

.titulos {
    margin: 20px;
    background-color: transparent;
}

.sort a {
    color: #000;
}

.menu {
    background-color: #000;
    justify-content: center;
    display: flex;
}

.menu ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    border: 3px solid #000;
    width: max-content;
    padding: 15px;
}

.menu ul li:hover {
    color: #f28181;
}

.menu ul li:hover {
    border-bottom-color: #f28181;
    cursor: pointer;
}

.menu ul a {
    text-decoration: none;
    color: #FFF;
}

footer {
    margin-top: 40px;
    background-color: #090808;
    color: #FFF;
    padding: 10px;
}

.search-input {
    width: 16rem !important;
    float: left;
    height: 20px;
    margin: 0px !important;
    background-color: #000 !important;
    border-color: #000 !important;
    border-bottom-color: #000 !important;
    border-bottom-color: #f28181 !important;
    color: #f28181 !important;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitulos-foco {
    border-bottom: 1px solid #f28181;
    animation: subtitulos-effect 2s;
}

.subtitulos-foco span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #f28181;
}

@keyframes subtitulos-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subtitulos {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-inicial {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

.links-superiores {
    position: absolute;
    right: 10%;
    width: max-content;
    display: grid;
    justify-items: center;
}

.bem-vindo, .bem-vindo:hover, .bem-vindo:focus {
    color: #f28181;
    font-size: 12pt;
}

.bem-vindo:hover {
    text-decoration: underline;
}

.link-conta, .link-conta:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.user-drop {
    display: none;
}

.user-drop ul {
    list-style: none;
    padding: 0;
}

.user-drop ul li {
    background-color: #f28181;
    padding: 5px 20px;
}

.user-drop ul li:hover a {
    text-decoration: underline;
}

.link-entrar {
    position: absolute;
    right: 10%;
    color: #f28181;
    font-size: 14pt;
    border: 2px solid;
    padding: 5px 20px;
    border-radius: 5px;
}

.link-entrar:hover {
    text-decoration: none;
    background-color: #f28181;
    color: #000;
}

.btn-login {
    background-color: #f28181;
    color: #000;
    padding: 8px;
}

.btn-login:hover {
    background-color: #f28181;
    color: #FFF;
}

.preco_link {
    display: flex;
    background-color: #000 !important;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.preco_link a {
    font-weight: bold;
    color: #f28181;
    background-color: #000;
    border: 2px solid #f28181;
}

.preco_link a:hover {
    background-color: #f28181;
    border-color: #000;
    color: #000;
}

.carousel-produtos {
    height: 300px;
    width: 250px !important;
    box-shadow: 1px 1px 1px 1px;
}

.individual-marginal {
    height: 85px;
    width: 85px;
    margin: 5px;
    border-style: solid;
    border-color: #F28181;
    border-width: 1px;
    padding: 1px 1px;
}

.central-foto {
    height: 100%;
    width: 300px;
    margin: 5px;
}

.flex {
    display: flex;
}

.container-carousel {
    background-color: #000;
    /* box-shadow: 0px 1px 8px 2px black; */
}

.card-produtos {
    width: 17rem;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-compre {
    border: 1px solid;
}

.menu-dashboard {
    width: 100%;
    background-color: #F28181;
}

.menu-dashboard ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu-dashboard ul li {
    padding: 8px 16px;
}

.menu-dashboard ul li:hover {
    background-color: #FFF;
}

.link-dash a {
    color: #FFF;
    text-decoration: none;
}

.link-dash a:hover {
    color: #F28181;
}

#imagem-flexivel {
    transition: all .3s ease-in;
    z-index: 2;
    background-color: transparent;
}

#imagem-flexivel:hover {
    margin-left: 100px;
    box-shadow: 0px 0px 7px 0px;
    transform: scale(1.5);
}

.money {
    border-width: 0 !important;
    box-shadow: 0px 0px 0px 0px !important;
    margin-bottom: 0px !important;
    padding: 0px 0px !important;
    text-align: right;
    float: right;
    width: auto;
}

.btn-add {
    background-color: #F28181;
    padding: 7px 14px;
    color: #FFF;
    height: min-content;
    border: 2px solid #f28181;
}

.btn-add:hover, .btn-add:focus {
    color: #f28181;
    background-color: #FFF;
    text-decoration: none;
}

.topo-dash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-excluir i {
    position: absolute;
    top: 30%;
    left: 40%;
    color: #000;
    opacity: 1;
}

.btn-excluir {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    font-size: 50pt;
    color: #000;
    background-color: red;
}

.img-card {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 0;
}

.img-card:hover .btn-excluir {
    display: block;
}

.td-image {
    padding: 0;
    max-height: 100px;
    border-bottom: 1px solid #F28181;
    margin-bottom: 5px;
    width: 100px;
}

.td-image img {
    max-height: 150px;
}

.th-carrinho {
    width: 20%;
}

.td-preco {
    text-align: center;
}

.carrinho-preco-produto {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.carrinho-titulo-produto {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
}

.carrinho-qtd-produto {
    width: 40px !important;
    float: right;
    text-align: center;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    box-shadow: inset 0 0 0 0 !important;
    background-color: #FFF !important;
    font-weight: bold;
}

.btn-less, .btn-less:hover, .btn-less:focus {
    height: 2.3125rem;
    width: 30px;
    padding: 5px;
    background-color: white;
    color: #000;
    border: 1px solid #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: 0 0 0px 0px;
    color: rgba(0, 0, 0, 0.75);
    border-right-width: 0;
}

.btn-plus, .btn-plus:hover, .btn-plus:focus {
    height: 2.3125rem;
    width: 30px;
    padding: 5px;
    background-color: white;
    color: #000;
    border: 1px solid #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: 0 0 0px 0px;
    color: rgba(0, 0, 0, 0.75);
    border-left-width: 0;
}

.td-quantidade {
    display: flex;
    justify-content: flex-end;
}

.th-nome {
    width: 40%;
    text-align: center;
}

.th-qtd {
    width: 15%;
    text-align: center;
}

.th-preco {
    width: 25%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
    color: #F28181;
}

.filtros-produtos {
    padding: 20px;
    width: 15%;
    font-size: 11pt;
}

.filtros-produtos legend {
    font-size: 12pt;
}

.btn-filtrar {
    margin-top: 20px;
    background-color: #090808 !important;
    border: 1px solid #f28181;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 5px;
}

.filtros-produtos .range {
    width: 80%;
}

.filtros-produtos .text {
    width: 20%;
}

.filtros-produtos .text input {
    background-color: #fff;
    margin: 0;
    border: 0;
    box-shadow: 0 0 0 0;
}

.produtos {
    width: 85%;
    height: 100%;
}

.page-title-produtos {
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 18pt;
    color: #f28181;
}

.card-footer-hover {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 15px;
    text-align: center;
    background-color: #f8f2f2;
}

.card:hover .card-footer-hover {
    visibility: visible;
}

.nome-produto {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.dados-produto {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #666;
}
